@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.quokka-font {
  font-family: "Rakkas  ", serif;
  font-weight: 400;
  font-style: normal;
}

.hljs {
  background: inherit !important;
}
